body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
hr{
    border-color: rgb(255, 255, 255);
    border-style: dotted none none;
    width: 20%;
    border-width: 15px;
    margin-top: 0;
    margin-bottom: 0;
}
h1{
    font-family: 'Sacramento', cursive;
    font-size: 500%;
    margin: 0;
    line-height: 2;
}
h2{
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    color: #065c5f;
    font-weight: normal;

}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    font-size: 2em;
}
p{
    font-size: 1.5em;
    color: #065c5f;
}
.first-container{
    background-color: #EAF6F6;
    margin: 0;
    padding-top: 100px;
    position: relative;
}
a{
    color: #11999E;
}
.first-container h1{
    padding: 40px;
    padding-bottom: 0;
    color: #66BFBF;
}
.first-container h2{
    color: #66BFBF;
}
.first-container p{
    padding-top: 10px;
}
.cloud-1{
    position: absolute;
    right: 300px;
    top: 50px;

}
.cloud-2{
    left:300px;
    top: 300px;
    position: absolute;
}
.mountain{
    position: relative;
}
.profile-picture{
    padding: 50px;
    width: 200px;
}
.profile{
    background-color: #91D8E4;
    padding: 50px;
}
.profile p{
    margin-bottom: 0;
    padding: 10px;
}
.skills{
    background-color: #BFEAF5;
    padding: 50px;
}
.gif-1{
    width: 15%;
    float: left;
    margin-right: 50px;
    margin-bottom: 50px;

}
.network{
    width: 15%;
    float: right;
    margin-left: 50px;
    margin-bottom: 50px;

}
.skill-row-1{
    width: 60%;
    margin: 100px auto 100px auto;
    text-align: left;
    clear: right;
}
.skill-row-2{
    width: 60%;
    margin: 100px auto 100px auto;
    text-align: left;
    clear: left;
}
.skill-row-1 p{
    line-height: 2;
}
.skill-row-2 p{
    line-height: 2;
}
.contact-me{
    background-color: #EAFDFC;
    padding: 50px;
}
.contact-me h2{
    margin: 0;
}
.third-container{
    background-color: #ffffff;
    padding-top: 50px;
}