body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
hr{
    border-color: rgb(255, 255, 255);
    border-style: dotted none none;
    width: 20%;
    border-width: 15px;
    margin-top: 0;
    margin-bottom: 0;
}
h1{
    font-family: 'Sacramento', cursive;
}
h2{
    font-family: 'Montserrat', sans-serif;
}
h3{
    font-family: 'Montserrat', sans-serif;
}
.first-container{
    background-color: #82AAE3;
    margin: 0;
    padding-top: 100px;
    position: relative;
}
.first-container h1{
    padding: 40px;
}
.first-container p{
    padding-top: 10px;
}
.cloud-1{
    position: absolute;
    right: 300px;
    top: 50px;

}
.cloud-2{
    left:300px;
    top: 300px;
    position: absolute;
}
.mountain{
    position: relative;
}
.profile-picture{
    padding: 50px;
    width: 200px;
}
.profile{
    background-color: #91D8E4;
    padding: 50px;
}
.profile p{
    margin-bottom: 0;
    padding: 10px;
}
.skills{
    background-color: #BFEAF5;
    padding: 50px;
}
.gif-1{
    width: 100px;
    height: 100px;
}
.contact-me{
    background-color: #EAFDFC;
    padding: 50px;
}
.contact-me h2{
    margin: 0;
}
.third-container{
    background-color: #ffffff;
    padding-top: 50px;
}