body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
.first-container{
    background-color: #82AAE3;
    margin: 0;
    padding-top: 100px;
    position: relative;

}
h1{
    font-family: 'Sacramento', cursive;
}
h2{
    font-family: 'Montserrat', sans-serif;
}
h3{
    font-family: 'Montserrat', sans-serif;
}
.first-container h1{
    margin: 0;
}
.first-container p{
    margin: 0;
    padding-top: 10px;
}
.cloud-1{
    position: absolute;
    right: 300px;
    top: 50px;

}
.cloud-2{
    left:300px;
    top: 300px;
    position: absolute;
}
.mountain-3{
    position: relative;
}
.second-container{
    background-color: #91D8E4;
}
.profile-picture{
    padding: 50px;
    width: 200px;
}
.third-container{
    background-color: #BFEAF5;
}